.container {
  min-width: 500px;
  padding: 12px;

  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

  transform: translateX(20px);
  opacity: 0;
  pointer-events: none;

  transition: transform 300ms ease, opacity 200ms ease;
}

.open {
  transform: translateX(0);
  opacity: 1;
  width: 100%;
  pointer-events: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filter {
  margin-bottom: 10px;
}
