services:
  db:
    image: mysql:8.0
    container_name: orders-products-spa-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: orders_products
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - ./db/data:/var/lib/mysql # данные базы
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql # скрипт инициализации
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    container_name: orders-products-spa-backend
    restart: unless-stopped
    volumes:
      - ./backend:/app
    environment:
      DB_HOST: db
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: orders_products
    depends_on:
      - db
    ports:
      - "4000:4000"
    command: npm run dev

  frontend:
    build: ./frontend
    container_name: orders-products-spa-frontend
    restart: unless-stopped
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    depends_on:
      - backend
    command: npm run dev
