.card_box {
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;

  border: 1px solid #2f3c4e;
  border-radius: 8px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
