.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;

  background-color: #1f2933;
  color: #ffffff;

  display: flex;
  flex-direction: column;

  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

/* состояния */
.open {
  width: 240px;
}

.closed {
  width: 64px;
}

/* кнопка */
.toggleButton {
  height: 56px;
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* иконка (png-спрайт подключишь позже) */
.toggleIcon {
  /* width: 24px;
  height: 24px; */

  /* background-image: url("/icons/sprite.png"); заглушка */
  /* background-repeat: no-repeat; */
  /* background-position: 0 0;  */
  /* сместишь под нужную иконку */
}

/* навигация */
.nav {
  flex: 1;
  padding-top: 16px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-bottom: 4px;
}

.link {
  display: block;
  padding: 12px 16px;

  color: inherit;
  text-decoration: none;
  white-space: nowrap;

  transition: background-color 0.2s ease;
}

.link:hover {
  background-color: #374151;
}
